<%- include('header') -%>

  <% if(locals.errors) { %>
    <ul>
        <% for(let i = 0; i < errors.length; i++) { %>
        <li><%= errors[i].msg %></li>
        <% } %>
    </ul>
  <% } %>
  <% if(currentUser && currentUser.membership_status === "member") {%>
    <form class="mb-5 max-w-lg w-full mx-auto" method="POST" action="">
      <input 
        type="text" 
        id="title" 
        class="mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
        placeholder="Title" 
        name="title"
        value="<%= (typeof message_title !== 'undefined' ? message_title : '') %>"
        />
      <textarea 
        id="message" 
        rows="4"
        name="message"
        value="<%= (typeof message !== 'undefined' ? message : '') %>"
        class="mb-4 block p-2.5 w-full text-sm text-gray-900  rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Add a message to the board..."></textarea>
      <button 
        type="submit"
        class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
        Publish message
      </button>
    </form>
  <% } %>

  <% if(!currentUser) {%>
    <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
      <a href="/login" class="underline font-medium">Login</a> and become a <span class="font-medium">Club Member</span> to view private information and add messages.
    </div>
  <% } %>

  <% if(typeof(messages) !== "undefined" && messages.length > 0) {%>
    <% messages.forEach(message =>{ %>
      <div class="mb-4 flex flex-col min-w-[420px] leading-1.5 p-4 border-gray-200 bg-gray-200 rounded-e-xl rounded-es-xl dark:bg-gray-700">
        <div class="flex items-center justify-between">
          <div>
            <span class="text-sm font-semibold text-gray-900 dark:text-white"><%= message.title %></span>
            <span class="ml-2 text-sm font-normal text-gray-500 dark:text-gray-400">
              <% if (currentUser && currentUser.membership_status === "member") { %>
                <%= message.formattedTime %>
              <% } else { %>
                Time
              <% } %>
            </span>
          </div>
          <span class="text-sm font-normal text-gray-500 dark:text-gray-400 ml-auto">
            <% if (currentUser && currentUser.membership_status === "member") { %>
              <%= message.formattedDate %>
            <% } else { %>
              Date
            <% } %>
          </span>
        </div>
        <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white"><%= message.text %></p>
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
          <% if (currentUser && currentUser.membership_status === "member") { %>
            <%= message.user.name %>
          <% } else { %>
            Club Member
          <% } %>
        </span>
      </div>
      
    <% }); %>
  <%} else {%>
    <h3>No messages yet.</h3>
  <% }; %>

<%- include('footer') -%>